<title>New Letter</title>

<body>
    <section id="newLetter" class="d-flex align-items-center p-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 d-flex align-items-center mx-auto">
                    <!-- Log In -->
                    <div class="card w-100 border-0">
                        <div class="card-body">
                            <form class="p-3 m-auto">
                                <div class="form-group">
                                    <h4 class="d-text">What do you want to ReCALL?</h4>
                                    <!-- <label for="message" class="d-text">What do you want to ReCALL?</label> -->
                                    <textarea class="form-control form-control-lg" id="message" rows="15"
                                        placeholder="Dear Future me, "></textarea>
                                </div>
                                <div class="form-group">
                                    <h4 class="d-text">Delivery Date:</h4>
                                    <input type="date" id="myDate" value="2020-05-15" class="inputDate">
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button type="submit" class="submit">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 text-center p-5">
                    <img src="/img/newletter.svg" alt="envelope" class="img-fluid m-1">
                    <p class="l-text newlettertext mt-5">send yourself a letter into the future!</p>
                </div>
            </div>

        </div>
    </section>
</body>